body {
    font-family: Arial, sans-serif;
    background-color: #383737;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    min-height: 100vh;
}
.container {
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
h1 {
    color: #333;
    margin-bottom: 20px;
}
.details {
    text-align: left;
    margin-bottom: 20px;
}
.details p {
    margin: 10px 0;
    color: #555;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}
.btn-whatsapp {
    background-color: #25d366;
}
.btn:hover {
    opacity: 0.9;
}